body .proto-logo-dark {
    display: none;
}

body .proto-logo {
    display: block;
}

body.dark .proto-logo {
    display: none;
}

body.dark .proto-logo-dark {
    display: block;
}

body .img-dark {
    display: none;
}

body .img {
    display: block;
	border-radius: .25rem;
}

body.dark .img {
    display: none;
}

body.dark .img-dark {
    display: block;
	border-radius: .25rem;
}

.header-bar {
    border-top: 2px solid;
    border-image-source: linear-gradient(90deg, #244c5a, #71a2c6 50%, #65c6c6);
    border-image-slice: 1;
}

.navbar {
    margin-top: 2px;
}

.mermaid-pre {
    background: none;
    color: transparent;
    margin: 0;
}